# Web framework
fastapi
uvicorn[standard]
pydantic
joblib
python-multipart
pandas
sentence-transformers
scikit-learn
geopy
haversine
numpy
openpyxl

# Vector store + RAG
langchain
langchain-community
langchain-pinecone
langchain-openai
pinecone
openai

# Utils
python-dotenv
httpx
dotenv

sentence-transformers
scikit-learn