version: "3.11"
services:
  fastapi:
    build:
      context: .                  
      dockerfile: backend/Dockerfile 
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - APP_NAME=FastAPI App
      - PYTHONPATH=/app/backend

  streamlit:
    build: ./frontend  # Streamlit project directory
    ports:
      - "8501:8501"
    volumes:
      - ./frontend:/app
    depends_on:
      - fastapi
    environment:
      - APP_NAME=Streamlit App